<footer>

  <div class="container">
    <!-- Add a dynamic year to the footer using JS. -->
  <p class="author">Copyright © <%= new Date().getFullYear() %> <span class="myname">Ibrahim Olanrewaju</span></p>
  </div>
  
</footer>