<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/main.css">
    
    <title>Todolist-app</title>
</head>
<body>


        <div class="container text-center">
          <div class="row">

            <div class="col-lg-6 c1-col">
              <div class="header-column">
                <h1 class="header-h1">
                  TickTick
                </h1>
                <h3 class="header-h3">
                  Achieve more 
                  <br>today <br>
                  <%= new Date().toUTCString().slice(5, 16); %>
                </h3>
              </div>
            </div>

            <div class="col-lg-6 c2-col">
              <div>
                <img class="header-image bounce" src="images/header-image.png" alt="">
              </div>
            </div>
            
          </div>
        </div>
        
        
         
        
        
      </section>

</body>
</html>